img#imgAnime{
    max-height: 350px;
 /*  margin-left: 20%;*/
}

#jeu{

    background-color: rgba(21,70,205,0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#btnValider{

}

#score{
    margin-left: 20px;
    background-color: rgba(21,70,205,0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#popupconfirmation{
   /* background-color: #2ca02c;*/
}

#valScore{
    font-size: 25px;
}
#listeAnime{
    margin-right:20px;
    background-color: rgba(21,70,205,0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#logoA{
    max-width:50px;
}